<label class="age">Classification* <span id="show_error_message_Classification" style="color:red;"> </span></label>
<select name="Classification" required="" id="id_Classification" multiple="" >
{% if get_classifications %}

  {% for item in get_classifications %}

     {% if classifications %}
        {% if item.Classification_Name == classifications %}
          <option value="{{item.id}}" selected="">{{item.Classification_Name}}</option>
          {% else %}
          <option value="{{item.id}}">{{item.Classification_Name}}</option>
          {% endif  %} 
     {% else %}
        {% if item.Classification_Name == 'None' %}
          <option value="{{item.id}}" selected="">{{item.Classification_Name}}</option>
          {% else %}
          <option value="{{item.id}}">{{item.Classification_Name}}</option>
          {% endif  %} 
     {% endif %}

    

  {%  endfor %}
{% endif %}

</select>
<!-- <span id="show_error_message_Classification" style="color:red;">API is not provied classification.</span> -->
{% if classifications  %}
 
 {% for item in classifications %}
  
  {% if item in get_all_classification %}
    <span id="show_error_message_Classification" style="color:red;">Classification '{{item}}' is not in dropdown.</span>
  {% endif %}

 {% endfor %}

{% else %}
<span id="show_error_message_Classification" style="color:red;">Classification is not in dropdown. So default selected.</span>
{% endif %}


<script type="text/javascript">
      
           $(document).ready(function(){
            $("select").each(function(){
             if($(this).prop('multiple'))
              {
                 $(this).multiselect({
                     includeSelectAllOption: true,
                    });  
     }

   });
          });
</script>