{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}



<main class="information">
 

            <div class="container">
                <div class="row">
                    <div class="col-md-9 order-lg-last dashboard-content">
                       <div class="card">
                           <div class="card-header">Your Order History</div>
<div class="profile-edit card-body">
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}   
           
           {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}         
      
    {% endfor %}
    {% endif %}
<div class="update-password">
<h3>Order Id #{{products.0.Order_id}}</h3>
   <div class="paymentItem newPaymentItem">
		
<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Type</th>
                  <th>Case Size</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
              	{% if products %}
              	{% for item in products %}
                <tr>
                  <th><img src="{{item.Product|get_product_image_one}}" style="height: 50px;"></th>
                  <td><a href="{% url 'product_detail:product_detail' item.Product.Product_id item.Product.Product_slug  item.Year %}">{{item.Product}}({{item.Year}})</a></td>
                  <td>
                  	{{item.Type}}
                  </td>
                  <td>
                    {{item.Case_Formate}}
                  </td>
                  <td>${{item.Cost_of_product}}</td>
                  <td>{{item.Quentity}}</td>
                  <td>${{item.Total_cost}}</td>
            
                </tr>
                 {% endfor %}
                 <tr>
                   <th colspan="6" style="text-align: right;">Grand Total :</th>
                   <th >${{total_cost.Total_cost__sum}}</th>
                 </tr>
                 <tr>
                   <th colspan="3" >Customer Order Details </th>
                   <th colspan="4" style="text-align: right;">Date {{products.0.Order_id.Order_Date}}</th>
                   
                 </tr>
                 <tr>
                   <th colspan="3" >
                    <address style="  margin-bottom: 0px;">
                            <strong>{{user.username}}</strong><br>
                            </address>
                            <br>
                            <b>Address:</b> 13/25 New Avenue
                    New Heaven
                    45Y 73J<br>
                    England
                    Great Britain<br>
                            <b>Telephone</b> 9617279518<br>
                            <b>E-Mail</b> jitendra.n@digimonk.in<br>
                            <b>Payment Method</b> Cash On Delivery<br>
                  </th>
                   <th colspan="4" >
                    <strong>Billing Address</strong>
        </address>
    <br>
        <address>
        {{products.0.Order_id.Order_address.First_Name}} {{products.0.Order_id.Order_address.Last_Name}} <br>
        {{products.0.Order_id.Order_address.Address}}, {{products.0.Order_id.Order_address.Country}} ({{products.0.Order_id.Order_address.City}}) <br>
        Pincode:- {{products.0.Order_id.Order_address.Postcode}} <br>
        Email Id:- {{products.0.Order_id.Order_address.Email}} <br>
        Mobile Number:- {{products.0.Order_id.Order_address.Pnone_no}}
        </address>
                   </th>
                   
                 </tr>
                {% endif %}
              </tbody>
            </table>
</div>   
      
</div>

</div>
 </div>
                    </div>






                    <aside class="col-md-3">
                        {% include 'web/user/include/user_sidebar.html' %}
                    </aside>          
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main>
{% endblock %}