{% extends 'admin/base-template.html' %}
{% block content %}
{% load static %}
		 <div class="page-content">
		 <section class="content-header">
        
        <div class="header-title">
            <h1>Dashboard</h1>
            
            
        </div>
    </section>
         <div class="container-fluid">
           
            <div class="row p-t-b-20">
               <!-- <div class="col-md-6">
                  <div class="card no-b">
                     <div class="card-header white b-0 p-3">
                        <div class="card-handle"><a data-toggle="collapse" href="#salesCard" aria-expanded="false" aria-controls="salesCard"><i class="icon-menu"></i></a></div>
                        <h4 class="card-title">Daily Sale Report</h4>
                        <small class="card-subtitle mb-2 text-muted">Items purchase by users.</small></div>
                     <div class="collapse show" id="salesCard">
                        <div class="card-body p-0">
                           <div class="table-responsive">
                              <table class="table table-hover earning-box">
                                 <thead class="bg-light">
                                    <tr>
                                       <th colspan="2">Client Name</th>
                                       <th>Item Purchased</th>
                                       <th>Price</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td class="w-10"><span class="round"><img src="assets/img/dummy/u1.png" alt="user"></span></td>
                                       <td><h6>Sara Kamzoon</h6>
                                          <small class="text-muted">Marketing Manager</small></td>
                                       <td>25</td>
                                       <td>$250</td>
                                    </tr>
                                    <tr>
                                       <td class="w-10"><span class="round"><img src="assets/img/dummy/u2.png" alt="user"></span></td>
                                       <td><h6>Sara Kamzoon</h6>
                                          <small class="text-muted">Marketing Manager</small></td>
                                       <td>25</td>
                                       <td>$250</td>
                                    </tr>
                                    <tr>
                                       <td class="w-10"><span class="round"><img src="assets/img/dummy/u3.png" alt="user"></span></td>
                                       <td><h6>Sara Kamzoon</h6>
                                          <small class="text-muted">Marketing Manager</small></td>
                                       <td>25</td>
                                       <td>$250</td>
                                    </tr>
                                    <tr>
                                       <td class="w-10"><span class="round"><img src="assets/img/dummy/u4.png" alt="user"></span></td>
                                       <td><h6>Sara Kamzoon</h6>
                                          <small class="text-muted">Marketing Manager</small></td>
                                       <td>25</td>
                                       <td>$250</td>
                                    </tr>
                                    <tr>
                                       <td class="w-10"><span class="round"><img src="assets/img/dummy/u5.png" alt="user"></span></td>
                                       <td><h6>Sara Kamzoon</h6>
                                          <small class="text-muted">Marketing Manager</small></td>
                                       <td>25</td>
                                       <td>$250</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
               <div class="col-md-12">
                  <div class="card no-b">
                     <!-- <div class="card-header white b-0 p-3">
                        <div class="card-handle"><a data-toggle="collapse" href="#invoiceCard" aria-expanded="false" aria-controls="invoiceCard"><i class="icon-menu"></i></a></div>
                        <h4 class="card-title">DashBoard</h4>
                        <small class="card-subtitle mb-2 text-muted"></small></div> -->
                     <div class="collapse show" id="invoiceCard">
                        <div class="card-body p-0">
                           <div class="col--md-12 p-0">
                              <!-- <div class="card widget"> -->
                                 <div class="card-body">
                                    <div class="row border-bottom">
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center">
                                             <i class="fas text-themecolor icon-users"></i>
                                          </span>
                                          <h1 class="font-light count">51</h1>
                                           <h5>Teams</h5>
                                       </div>
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center"><i class="fas text-themecolor icon-heartbeat"></i>
                                          </span>
                                          <h1 class="font-light count">99</h1>
                                          <h5>Products</h5>
                                       </div>
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center">
                                             <i class="fas text-themecolor icon-gift"></i>
                                          </span>
                                          <h1 class="font-light count">73</h1>
                                          <h5>Backlogs</h5>
                                       </div>
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center">
                                             <i class="fas text-themecolor icon-book"></i>
                                          </span>
                                          <h1 class="font-light count">121</h1>
                                          <h5>User Stories</h5>
                                       </div>
                                    </div>
                                 </div>
                             <!--  </div> -->
                               <!---->
                                <!-- <div class="card widget"><div class="card-body"><div class="row border-bottom"><div class="col-12"><h4 class="card-title mb-3">Todo</h4> <div class="mr-4"><form><div class="px-2"><div class="form-group"><input type="text" name="title" placeholder="Title" class="form-control"> </div></div></form> <div><div class="vb vb-invisible" style="position: relative; overflow: hidden;"><div class="m-b-20 vb-content" style="max-height: 200px; display: block; overflow: hidden scroll; height: 100%; width: calc(100% + 17px);"></div><div class="vb-dragger" style="position: absolute;"><div class="vb-dragger-styler"></div></div></div></div></div></div></div></div></div>  -->
                               <!----> <!----></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
 {% endblock %}