{% extends 'admin/base-template.html' %}
{% block content %}
{% load static %}
		 <div class="page-content">
		 <section class="content-header">
        
        <div class="header-title">
            <h1>Dashboard</h1>
            
            
        </div>
    </section>
         <div class="container-fluid">
           

               <div class="col-md-12">
                  <div class="card no-b">
                     <div class="collapse show" id="invoiceCard">
                        <div class="card-body p-0">
                           <div class="col--md-12 p-0">
                              <!-- <div class="card widget"> -->
                                 <div class="card-body">
                                    <div class="row border-bottom">
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center">
                                             <i class="fas text-themecolor icon-users"></i>
                                          </span>
                                          <h1 class="font-light count">{{total_User}}</h1>
                                           <h5>Users</h5>
                                       </div>
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center"><i class="fas text-themecolor icon-heartbeat"></i>
                                          </span>
                                          <h1 class="font-light count">{{total_complate_product}}</h1>
                                          <h5>Completed Order</h5>
                                       </div>
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center">
                                             <i class="fas text-themecolor icon-gift"></i>
                                          </span>
                                          <h1 class="font-light count">{{total_delivery_Orders}}</h1>
                                          <h5>Delivery Orders</h5>
                                       </div>
                                       <div class="col-md-3 p-4 b-r">
                                          <span class="text-center">
                                             <i class="fas text-themecolor icon-book"></i>
                                          </span>
                                          <h1 class="font-light count">{{total_Caller_Orders}}</h1>
                                          <h5>Cellar Order</h5>
                                       </div>
                                    </div>
                                 </div>
                             <!--  </div> -->
                               <!---->
                                <!-- <div class="card widget"><div class="card-body"><div class="row border-bottom"><div class="col-12"><h4 class="card-title mb-3">Todo</h4> <div class="mr-4"><form><div class="px-2"><div class="form-group"><input type="text" name="title" placeholder="Title" class="form-control"> </div></div></form> <div><div class="vb vb-invisible" style="position: relative; overflow: hidden;"><div class="m-b-20 vb-content" style="max-height: 200px; display: block; overflow: hidden scroll; height: 100%; width: calc(100% + 17px);"></div><div class="vb-dragger" style="position: absolute;"><div class="vb-dragger-styler"></div></div></div></div></div></div></div></div></div>  -->
                               <!----> <!----></div>
                        </div>
                     </div>
                  </div>
               </div>





<hr>
<br>

<h3></h3>


<div class="col-md-12">
                  <div class=" no-b">
                     <div class="collapse show" id="invoiceCard">
                        <div class="card-body p-0">
                           <div class="col--md-12 p-0">

                              <!-- <div class="card widget"> -->
                                 <div class="card-body">
                                 	<h2>Les Then 5 Quentity Product</h2>
                                        <table id="example" width="100%" border="1" class="table table-striped table-bordered newpage order-table" align="center" cellpadding="0" cellspacing="0" style=" font-size: 15px;">
              <thead>
                <tr>
        		  <th align="left" valign="top">#</th>
                  <th align="left" valign="top">Product</th>
                  <th align="left" valign="top">Product Name</th>
                  <th align="left" valign="top">Year</th>
                  <th align="left" valign="top">Bottel Type</th>
                  <th align="left" valign="top">Quentity In Retail</th>
                  <th align="left" valign="top">Quentity In Bond</th>
                </tr>
              </thead>
              <tbody>

{% for data in low_stock %}


<tr role="row" class="odd">
        <td >{{ forloop.counter }}</td>
        <th align="left" valign="top"><img style="width:33px; height:49px;" src="{{data.Product|get_product_image_one}}"></th>
        <th align="left" valign="top"><a href="{% url 'admin_manage_products:update_products' data.Product.Product_id %}" target="_blank"><u>{{data.Product.Product_name}}</u></a></th>
        <th align="left" valign="top">{{data.Vintage_Year}}</th>
        <th align="left" valign="top">{{data.Bottle}}</th>
        <th align="left" valign="top">{{data.Retail_Stock}}</th>
        <th align="left" valign="top">{{data.Bond_Stock}}</th>
	    </tr>


{% endfor %}

  
</tbody>

    </table>
                                    </div>
                                 </div>
                             </div>
                        </div>
                     </div>
                  </div>
               </div>




            </div>
         </div>
      </div>
 {% endblock %}